.card{
    position: relative;
    font-family: 'Roboto';
    height: 45%;
    width: 15%;
    background-color:rgb(224, 231, 231);
    padding: 1%;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.781);
    color:blueviolet;
    border-radius: 10px;
    box-shadow: 0 0 5px #fc0000, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0ff;
    backface-visibility: hidden;
    transition: 1000ms;
}
.card:hover {
    height: 48%;
    width: 17%;
}
h2{
    text-align: center;
    font-size: 0.8rem;
    margin:0;
}
img{
    width: 50%;
    display: block;
    margin: 0.5rem auto;
    
}
.hero{
    height: 10rem;
    width: 100%;
    overflow: hidden;
}
.stats{
    margin: 0;
}

.stats ul{
    list-style: none;
    color: red;
    padding: 0;
}

.stats ul span{
    color: rgb(255, 255, 255);
    float: right;
}
.link{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fc0000;
    width: 33%;
    border-radius: 5px;
}

.link a{
    text-align: center;
    width: 100%;
    color:aquamarine;
    text-decoration: none;
}